*/output
*/list
*/settings
*.dep
*.bin
*.map
*.axf
*.pyc
*.bin
*.o
*.lst

*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

.sconsign.dblite
project.uvproj
project.uvopt
project.uvgui.*
project.eww
project.ewp

JLinkLog.txt
JLinkSettings.ini