*/output
*/list
*/settings
*.dep
*.bin
*.map
*.axf
*.pyc
*.bin
*.o
*.lst

*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

.sconsign.dblite
*.uvproj
*.uvopt
*.uvgui.*
*.eww
*.ewp

JLinkLog.txt
JLinkSettings.ini